/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    overflow-x: hidden;
}



h1, h2, h3 {
    font-family: inherit;
    color: rgb(17, 17, 17);
    margin: 0;
    padding: 0;
    display: block;
}

h1 {
    margin: 30px 0;
    text-align: center;
    font-weight: 700;
}

h2 {
    box-sizing: border-box;
    font-size:  1.7em;
    /* margin-top: 30px; */
    padding-top: 10px;
}

h3 {
    font-size: 1.1em;
    color: rgb(110, 110, 110);
    margin-top: 5px;
    font-size: 1em;
}

p {
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 0.9em;
    line-height: 1.5em;
}


.box {
    background-color: #fff;
    color: rgb(46, 46, 46);
    text-align: center;
    width: 400px;
    height: 200px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.5s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
    transform:translateX(0);
}

.profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    /* moves element based on center anchor point */
    transform: translate(-50%, 50%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box:nth-of-type(even) .profile-pic{
    background-color: green;
    left: 100%;
}

#pic1 {
    background-image: url('https://images.unsplash.com/photo-1560250097-0b93528c311a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
}

#pic2 {
    background-image: url('https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
}

#pic3 {
    background-image: url('https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80');
}

#pic4 {
    background-image: url('https://images.unsplash.com/photo-1521572267360-ee0c2909d518?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
}

#pic5 {
    background-image: url('https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
}

#pic6 {
    background-image: url('https://images.unsplash.com/photo-1614283233556-f35b0c801ef1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
}

#pic7 {
    background-image: url('https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80');
}

#pic8 {
    background-image: url('https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80');
}

#pic9 {
    background-image: url('https://images.unsplash.com/photo-1611590027211-b954fd027b51?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=738&q=80');
}

#pic10 {
    background-image: url('https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
}



